@import './variables/variables.scss';
/***************************  Standards *********************************/
* {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  color: #fff;
  scroll-behavior: smooth;
}

/* Body */
body { 
    font-size: 1.6rem;
    min-height: 100vh;
    background-color: #373737;
}

/* Main container */
.App {
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh; 
max-width: 980px;
margin-left: 5%;
margin-right: 5%;
}

section {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgba(0,0,0,0.4);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-radius: 1rem ;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-radius: 1rem ;
}

fieldset legend {
  color: lightgrey;
  font-family:$playerFont;
}


a {
  text-decoration:none;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
font-family: $playerFont;
font-size: 1.5rem;
padding: 1rem;
border-radius: 1rem;
 }
input::placeholder{
  color:lightgray;
}

label{
margin-top: 1rem;
font-family:$playerFont;
padding: 1rem;
}
form button {
padding: 1rem;
margin-top: 2rem;
font-family: $playerFont;
border-radius: 1rem;
}

form button:hover {
  cursor: pointer;
}

li{
 list-style: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.show {
  display: default;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.error{
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}