@import './variables/variables.scss';
/***************************  Standards *********************************/
* {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  color: #fff;
  scroll-behavior: smooth;
}

/* Body */
body { 
    font-size: 1.6rem;
    background-color: $mainBackground;
}
/* Main container */
.App {
display: flex;
flex-direction: column;
align-items: center; 
max-width: 980px;
font-family: $playerFont;
}

section {
  padding: 0.5rem;
  background-color: rgba(0,0,0,0.4);
  width:80%;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-radius: 1rem ;
  width: 100%;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-radius: 1rem ;
}

fieldset legend {
  color: lightgrey;
  text-align: center;
}


a {
  text-decoration:none;
}
a:hover {
  color: $clickedLink;
}

input {
font-family: $playerFont;
font-size: 1.5rem;
padding: 1rem;
border-radius: 1rem;
margin-bottom: 1rem;
width : 100%;
 }
input::placeholder{
  color:lightgray;
}

label{
font-family:$playerFont;
padding: 1rem;
}

form button {
padding: 1rem;
margin-top: 2rem;
font-family: $playerFont;
border-radius: 1rem;
}

form button:hover {
  cursor: pointer;
}

li{
 list-style: none;
}
 
.main-title {
  font-family: $playerFont;
  font-size: 5rem;
  color: $gquestYellow;
}
