@import './variables/variables.scss';


.navbar {
    width: 100%;
    background-color: $lowerOpacityBlack;
    margin-bottom: 2px;
    text-align: center;
    padding: 1rem;
}
.navbar a {
    color: white;
}
.navbar div {
    padding: 0.2rem;
    margin-bottom: 5%;
    background-color: $mainBackground;
    width: 50%;
    border-radius: 1rem;
}
.nav {
    padding: 1rem;
}
.nav li {
    color: $mainColor;
    background: white;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1.5%;
    border-radius: 1rem;
    margin: 1rem;
}
.disconnect {
    text-decoration:   underline ;
    font-size: 0.7em;
    margin-top: 0;
}
