/**********************************Toutes les variables modificables et réutilisables en scss***************************/


                                   /********************Les imports******************/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');/*DynaPuff*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /*Press Start 2P*/





                                   /********************Les variables******************/
$mainColor: #373737 ;
$gquestYellow: #ffbf00;
$lowerOpacityBlack: rgba(0, 0, 0, 0.4);
$gquestFont: 'DynaPuff', cursive;
$playerFont: 'Press Start 2P', cursive;
$clickedLink: #f59a9b;